@charset "UTF-8";
/* FONDOS */
/* TIPOGRAFÍA */
/* RESETEO */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px; }

/* BODY */
body {
  background-image: url(../media/imagenes/fondoOscuro1.jpg);
  font-family: "Nunito", sans-serif;
  color: white; }

/* TÍTULOS H */
h1 {
  color: #EFD9CE;
  display: none; }

h2 {
  color: #EFD9CE;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center; }

h3 {
  border: solid white 2px;
  display: inline;
  background-color: #545158;
  padding: 5px;
  font-size: 16px; }
  h3 a {
    color: white;
    text-decoration: none;
    text-align: center; }

h3:hover a {
  color: #EFD9CE; }

.volverHome {
  text-align: center;
  padding-top: 10px; }

/* BOTONERA NAVEGABLE */
header {
  grid-area: header;
  background-image: url(../media/imagenes/fondoOscuro1.jpg);
  position: sticky;
  top: 0px;
  z-index: 1; }
  header ul {
    font-weight: bold;
    font-size: 17px; }
    header ul li {
      margin-right: 7px;
      margin-bottom: 5px; }

.logoHeader {
  width: 180px;
  margin-left: 20px; }

.nav-item:hover {
  transform: scale(1.1); }

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-image: url(../media/imagenes/fondoOscuro1.jpg); }
  footer .logoFooter {
    width: 120px; }

.logoInstagram {
  margin-left: 15px; }

/* ELEMENTOS HOME */
.gridHome {
  display: grid;
  grid-template-areas: 'header header' 'slider slider' 'recuadroUno recuadroDos' 'footer footer'; }

.slider {
  grid-area: slider; }

.recuadroUno {
  grid-area: recuadroUno;
  background-image: url(../media/imagenes/fondoOscuro2.jpg);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 75%; }

.recuadroDos {
  grid-area: recuadroDos;
  background-image: url(../media/imagenes/fondoOscuro2.jpg);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 75%; }

.titulosRecuadros {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }

.textosRecuadros {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }
  .textosRecuadros a {
    color: white; }

/* CONTAINER */
.container {
  background-image: url(../media/imagenes/fondoOscuro2.jpg);
  padding: 0px; }

/* SECCIÓN LA BANDA */
.imagenBanda {
  margin: 20px; }

.textoBanda {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  font-size: 20px; }

/* SECCIÓN INTEGRANTES */
.nombreBio {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: -10px;
  padding-top: 20px; }

.text-muted {
  margin-top: 5px;
  font-size: 18px; }

.textoBio {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px; }
  .textoBio a {
    background-color: #72A8B0;
    padding: 5px;
    color: white;
    font-size: 16px; }

.bios {
  border-left: solid 30px #EFD9CE; }

.botoneraFotos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-top: 15px; }
  .botoneraFotos p {
    margin-top: 5px;
    font-weight: bold; }

.fotoBotonera {
  background-image: url(../media/imagenes/fondoOscuro2.jpg);
  width: 200px;
  height: 200px;
  margin: 10px; }
  .fotoBotonera a {
    color: white;
    text-decoration: none; }

.fotoBotonera:hover {
  background-image: url(../media/imagenes/fondoOscuro2.jpg);
  opacity: 70%; }

/* SECCIÓN DISCOGRAFÍA */
.discografiaMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 25px; }
  .discografiaMain .discografia {
    width: 235px;
    height: 235px;
    margin: 25px; }
    .discografiaMain .discografia a {
      text-decoration: none;
      color: white;
      text-align: center; }
    .discografiaMain .discografia .tapasDiscos {
      height: 220px;
      width: 220px;
      margin-bottom: 10px;
      border: solid 2px #EFD9CE; }

.tapasDiscos:hover {
  transform: rotate(10deg);
  opacity: 70%; }

/* SECCIÓN GALERÍA */
.galeriaGrid {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 33% 33% 33%;
  gap: 30px;
  margin: 25px;
  padding: 35px;
  grid-template-areas: 'fotoGaleria1 fotoGaleria2' 'fotoGaleria3 fotoGaleria4' 'fotoGaleria5 fotoGaleria6'; }

.fotoGaleria1 {
  grid-area: fotoGaleria1; }

.fotoGaleria2 {
  grid-area: fotoGaleria2; }

.fotoGaleria3 {
  grid-area: fotoGaleria3; }

.fotoGaleria4 {
  grid-area: fotoGaleria4; }

.fotoGaleria5 {
  grid-area: fotoGaleria5; }

.fotoGaleria6 {
  grid-area: fotoGaleria6; }

/* MEDIA QUERIES */
/* Escritorio */
@media only screen and (min-width: 768px) {
  .gridHome {
    display: grid;
    grid-template-areas: 'header header' 'slider slider' 'recuadroUno recuadroDos' 'footer footer'; } }

/* Tablet */
@media only screen and (max-width: 767px) and (min-width: 321px) {
  .gridHome {
    display: grid;
    grid-template-areas: 'header' 'slider ' 'recuadroUno' 'recuadroDos' 'footer'; }
  ul {
    font-size: small;
    margin-top: 5px; }
    ul li {
      margin-left: 20px; }
  .logoHeader {
    width: 150px;
    margin-top: 10px; }
  iframe {
    width: 250px; }
  .recuadroUno {
    margin-top: 10px;
    width: 75%; }
  .recuadroDos {
    margin-top: 0px;
    width: 75%; }
  .titulosRecuadros {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 0px; }
  .textosRecuadros {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    margin-left: 0px; }
  .volverHome {
    margin-top: 50px;
    margin-bottom: 50px; }
  .discografiaMain {
    justify-content: center; } }

/* Mobile */
@media only screen and (max-width: 320px) {
  .gridHome {
    display: grid;
    grid-template-areas: 'header' 'slider' 'recuadroUno' 'recuadroDos'  'footer'; }
  .recuadroUno {
    width: 100%;
    margin-bottom: -15px; }
  .recuadroDos {
    width: 100%; }
  ul {
    font-size: x-small;
    margin-top: 5px; }
  .logoHeader {
    width: 80px;
    margin-top: 10px; }
  iframe {
    width: 250px; }
  .titulosRecuadros {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 0px; }
  .textosRecuadros {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    margin-left: 0px; }
  .galeriaGrid {
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 10px;
    margin-top: 10px;
    padding: 5px;
    grid-template-areas: 'fotoGaleria1' 'fotoGaleria2' 'fotoGaleria3'  'fotoGaleria4' 'fotoGaleria5' 'fotoGaleria6'; }
  .volverHome {
    margin-top: 250px;
    margin-bottom: 50px; }
  .discografiaMain {
    justify-content: center; } }
