/* FONDOS */
$FondoPrincipal: url(../media/imagenes/fondoOscuro1.jpg);
$FondoSecundario: url(../media/imagenes/fondoOscuro2.jpg);
$FondoTerciario: #545158;
$FondoCuaternario: #72A8B0;


/* TIPOGRAFÍA */
$fuentePrincipal: 'Nunito', sans-serif;
$colorFuentePrimario: white;
$colorFuenteSecundario: #EFD9CE;
