/* FONDOS */
$colorFondoPrincipal: blue;
$colorFondoSecundario: #72A8B0;
$colorFondoTerciario: #545158;
$colorFondoCuaternario: grey;

/* TIPOGRAFÍA */
$fuentePrincipal: 'Nunito', sans-serif;
$colorFuentePrimario: white;
$colorFuenteSecundario: #EFD9CE;
$colorFuenteTerciario: red;